<% require 'number_formatter' %>
<table>
  <tr>
    <th>Stop</th>
    <th>Distance</th>
    <th>Manhattan Distance</th>
  </tr>

<% @stops.each do |stop| %>
<% to_point = GeoKit::LatLng.new(stop.stop_lat, stop.stop_lon) %>
<% phi = @from_point.heading_to(to_point) %>
<% ratio = Math::sin(phi.radians).abs + Math::cos(phi.radians).abs %>
  <tr>
    <td><%= stop.stop_name %></td><td><%= @from_point.distance_to(to_point).round(3) %></td><td><%= (@from_point.distance_to(to_point) * ratio).round(3) %></td>
  </tr>
<% end %>
</table>

<%= link_to "Back to Main Page", :action => 'index', :controller => 'application' %>